.PageNoBtn{
    background-color: aliceblue;
    width: 40px;
    height: 35px; 
    color: black;
    font-size: 9px;
      
}

.selected {
    background-color: #2563eb; /* Blue color */
    color: white; /* White text */
    font-weight: bold; /* Optional: Make it stand out */
    border: 1px solid #2563eb; /* Match the background */
  }


.container1 {
   
    display: flex;
    flex-direction: row;
    gap: 5px;
   
    justify-content: center;

}

.Pages{
    display: flex; 
    gap: 5px;
}