/* .container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
   
} */


.Navbar{
    width: 100%;
    opacity: 10;
    box-shadow: 0px 5px 10px 0px #aaa;
    background-color: white;
    position: fixed;
    color: black;
    top: 10px;
    left: 0;
    z-index: 100;
    margin-bottom: 20px;


}


.navbarcontainer{
   height: 65px;
   display: flex;
   align-items: center;
}



.Items{
    display: flex;
    order: 0;
}

.profile{
    order: 0;
    /* width: 40px;
    height: 40px; */
   
}

.profile img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.Items li{
    margin-left: 1.5rem;
    font-size: 2rem;
   list-style: none;   /*it removed the  dot from list item*/
   order: 1;
}

.Navbar a{
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.Navbar a:hover{
    color: #3d4c49;
}


